@use '../../vars';

.btn-aqua {
  display: flex;
  justify-content: center;
  justify-items: center;

  padding: 8px 17px;
  border-radius: 6px;

  font-weight: 500;
  font-size: 15.6px;
  line-height: 24px;
  text-decoration: none;
  text-wrap: nowrap;
  color: vars.$text-navigation;

  outline: 2px solid transparent;
  outline-offset: -6px;

  transition: vars.$duration-fast ease-in-out color,
    vars.$duration-fast vars.$duration-fast ease-in-out background-color,
    vars.$duration-fast ease-in-out outline-color,
    vars.$duration-fast ease-in-out outline-offset;

  &:hover {
    color: vars.$aquamarine;
  }

  &.active {
    background-color: vars.$background-secondary;
    outline-color: vars.$aquamarine-lighter;
    outline-offset: -2px;
    color: vars.$text-navigation;
  }

  @media (min-width: vars.$media-middle) {
    padding-right: 19px;
  }

  @media (min-width: vars.$media-large) {
    padding: 8px 28px 8px 22px;
  }
}
