@use '../../vars';

.list-services--described {
  li {
    display: flex;
    align-items: center;
  }

  @media (min-width: vars.$media-large) {
    gap: 27px;

    & li {
      gap: 10px;
    }
  }
}

// <ul class="list-services list-services--described">
//     <li>
//         <span class="list-services__desc">...</span>
//         <a href="#" >...</a>
//     </li>
// </ul>
