@use '../vars';

.article__start {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  height: 100%;
  gap: 19px;

  padding-bottom: 10px;
  padding-right: 5px;

  @media (min-width: vars.$media-middle) {
    padding-top: 1px;
    padding-right: 46px;
    gap: 4px;
  }

  @media (min-width: vars.$media-large) {
    padding-top: 12px;
    padding-right: 20px;
    gap: 13px;
  }
}
