@use '../vars';

.article__text {
  font-size: 14.4px;
  line-height: 18px;
  letter-spacing: 0;

  &:not(:last-child) {
    padding-bottom: 16px;
  }

  @media (min-width: vars.$media-middle) {
    line-height: 20px;

    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }
}
