@use '../vars';

.logo {
  border-radius: 5px;
  height: 51px;
  outline: 2px solid transparent;

  transition: vars.$duration-fast ease-in-out outline-color,
    vars.$duration-fast ease-in-out outline-offset;

  &:focus-visible {
    outline-offset: 3px;
    outline-color: vars.$infra-red;
  }
}
