@use '../vars';

.title--sideline {
  position: relative;
  padding-left: 16px;

  &::after {
    content: '';
    position: absolute;
    top: 1.4px;
    left: 0;
    height: 40px;
    width: 4px;

    border-radius: 0 10px 10px 0;
    background-color: vars.$aquamarine;
  }

  @media (min-width: vars.$media-middle) {
    padding-left: 24px;
  }

  @media (min-width: vars.$media-large) {
    padding-left: 33px;
  }
}
