@use '../vars';

.card {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 15px;

  border-radius: 6px;
  border: 1px solid vars.$line-color;
  background-color: vars.$background-secondary;
}
