@use '../vars';

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 18px;

  @media (min-width: vars.$media-large) {
    position: absolute;
    z-index: 10;
    top: 42px;
    right: 30px;

    padding: 0;
  }
}
