@use '../vars';

.sidebar__contact {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;

  max-height: 94px;
  padding-block: 8px 4px;
  margin-bottom: auto;

  @media (min-width: vars.$media-large) {
    padding-block: 12px 0;
  }
}
