@use '../vars';

.sidebar__list {
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  --line-height: 31px;

  &::before {
    content: '';
    position: absolute;

    height: var(--line-height);
    width: 4px;
    top: calc(var(--line-position) - 3px);
    left: 0;

    border-radius: 0 10px 10px 0;
    background-color: vars.$aquamarine;

    transition: vars.$duration-medium ease-in-out top;
  }
}
