@use '../vars';

.sidebar__wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: vars.$media-large) {
    max-height: 903px;
    padding-top: 12px;
  }
}
