@use '../vars';

.sidebar__head {
  display: flex;
  align-items: center;

  .logo {
    transform: translateY(1.5px);
    margin-left: 17px;
    margin-right: auto;
  }

  @media (min-width: vars.$media-large) {
    .logo {
      margin-left: 0;
    }

    #sidebar-closer {
      display: none;
    }
  }
}
