@use '../vars';

$sidebar-width: 320px;
$sidebar-shadow-color: #0e185033;
$sidebar-duration: vars.$duration-medium;

.sidebar {
  --sidebar-duration: 0.2s;

  display: flex;
  position: absolute;

  z-index: 30;
  left: calc(100vw * -1);
  width: 100vw;
  min-width: 260px;
  min-height: 100dvh;

  padding: 17px 24px 35px;

  background-color: vars.$background-secondary;
  box-shadow: 0 0 0 transparent;

  transition: $sidebar-duration ease-in-out transform,
    $sidebar-duration ease-in-out box-shadow,
    $sidebar-duration ease-in-out width;

  &.open {
    transform: translateX(100vw);
    box-shadow: 16px 0 52px $sidebar-shadow-color;
  }

  &.disable {
    display: none;
  }

  @media (min-width: vars.$media-middle) {
    width: $sidebar-width;
  }

  @media (min-width: vars.$media-large) {
    position: relative;
    left: 0;
    min-width: 307px;
    z-index: 10;

    padding-inline: 20px 30px;

    &.disable {
      display: flex;
    }

    // temp for block-1.4
    &.open {
      transform: none;
      box-shadow: none;
    }
  }
}
