@use '../vars';

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  border-top: 1px solid vars.$aquamarine-lighter-more;
  padding-top: 17px;
  padding-bottom: 16px;

  text-align: center;

  @media (min-width: vars.$media-middle) {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    padding-block: 33px 20px;
    gap: 0;
    span {
      width: 30%;
    }

    span:last-child {
      text-align: end;
    }
  }

  @media (min-width: vars.$media-large) {
    span {
      width: 31%;
    }
  }
}
