$path: '../../assets/fonts/';

@mixin font-lakes($postfix, $weight) {
  $TTLakes: 'TTLakes';

  @font-face {
    font-family: $TTLakes;
    src: local('#{$TTLakes}#{$postfix}'), local('#{$TTLakes}-#{$postfix}'),
      url('#{$path}#{$TTLakes}-#{$postfix}.woff2') format('woff2'),
      url('#{$path}#{$TTLakes}-#{$postfix}.woff') format('woff');
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@include font-lakes('Regular', 400);
@include font-lakes('Medium', 500);
@include font-lakes('Bold', 700);
