@use '../sass/vars';

html {
  box-sizing: border-box;
  min-width: 320px;

  font-family: 'TTLakes';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  margin-inline: auto;
  padding-inline: 16px;

  @media (min-width: vars.$media-middle) {
    padding-inline: 24px;
  }

  @media (min-width: vars.$media-large) {
    padding-inline: 32px;
  }
}

.hidden-visible {
  width: 0;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

.scroll-disable {
  overflow: hidden;
}

// body {
//   padding: 1rem;
// }
