$infra-red: #ff3e79;
$infra-red-lighter: #ff828c;
$infra-red-darker: #da104c;

$aquamarine: #41f6d7;
$aquamarine-lighter: #b8ffec;
$aquamarine-lighter-more: #d9fff5;

$aquamarine-darker: #00ccaa;

$text-primary: #1b1c21;
$text-navigation: #7e7e82;

$background-primary: #f8f8f8;
$background-secondary: white;

$line-color: #eaeaea;

$duration-very-fast: 0.05s;
$duration-fast: 0.1s;
$duration-medium: 0.2s;
$duration-long: 0.3s;
$duration-very-long: 0.4s;

$media-small: 320px;
$media-middle: 768px;
$media-large: 1426px;
