@use './vars' as color;

@use './normalize' with (
  $background: color.$background-primary,
  $color: color.$text-primary,
  $h1_font_size: 1.75em,
  $h1_margin: 0,
  $h2_margin: 0,
  $h3_margin: 0,
  $h4_margin: 0,
  $h5_margin: 0,
  $h6_margin: 0
);

@use './fonts';
@use './global';

@use '../../ui/ui';
@use '../../modules/modules';
@use '../../components/components';
